.env
.env.*
!.env.example
services/**/bin/
tests/**/bin/
**/obj/
**/target/
**/node_modules/
**/dist/
**/cdk.out/
**/cdk.context.json
**/test-results/
**/playwright-report/
*.user
*.log
.DS_Store
artifacts/
**/*.tsbuildinfo
